.button {
    border: unset;
    padding: unset;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;


    &_white {
        color: #000;
        background: #fff;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &_green {
        text-align: center;
        border: 1px solid rgb(82, 196, 26);
        color: rgb(82, 196, 26);

        &:hover {
            color: #fff;

            background: rgb(82, 196, 26);
        }
    }
}

.card-user-form {
    padding: 48px 36px;
    background: #fff;
    border-radius: 6px;
    width: 384px;
    margin: 0 auto;
}

.logo a {
    text-decoration: unset;
    color: #000;
}

:where(.css-dev-only-do-not-override-os2fvf).ant-pagination .ant-pagination-item-active {
    background-color: #1677ff;

    a {
        color: #fff;
    }
}